<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container" style="padding-top: 50px">
        <div class="row col-md-12">

            <h3>
                Customers
            </h3>
            <small>by Anna Isakova. You can find source code <a href="https://github.com/AnnaIsakova/customers">here</a></small>
            <div class="alert alert-danger" ng-if="errorMessage">
                <strong>Oops!</strong> {{errorMessage}}
            </div>

            <table class="table table-bordered table-hover table-condensed">
                <tr style="font-weight: bold">
                    <td style="width:35%">Name</td>
                    <td style="width:20%">Surname</td>
                    <td style="width:20%">Phone number</td>
                    <td style="width:25%">Actions</td>
                </tr>
                <tr ng-repeat="customer in customers">
                    <td>
                        <span editable-text="customer.name" e-name="name" e-form="rowform" onbeforesave="checkName($data, customer.id)" e-required>
                            {{ customer.name || 'empty' }}
                        </span>
                    </td>
                    <td>
                        <span editable-text="customer.surname" e-name="surname" e-form="rowform" onbeforesave="checkName($data, customer.id)">
                            {{ customer.surname || 'empty' }}
                        </span>
                    </td>
                    <td>
                        <span editable-text="customer.phone" e-name="phone" e-form="rowform" onbeforesave="checkName($data, customer.id)">
                            {{ customer.phone || 'empty' }}
                         </span>
                    </td>
                    <td style="white-space: nowrap">
                        <!-- form -->
                        <form editable-form name="rowform" onbeforesave="saveCustomer($data, customer.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == customer">
                            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                save
                            </button>
                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                cancel
                            </button>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                            <button class="btn btn-danger" ng-click="removeCustomer(customer.id)">del</button>
                        </div>
                    </td>
                </tr>
            </table>

            <button class="btn btn-default" ng-click="addCustomer()">Add row</button><br/>

            <small>
                *required fields: name, phone number (10 digits without symbols)
            </small>
        </div>
    </div>
</body>
</html>